body {
    background-color: rgba(0, 0, 0, 0.89);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: rgb(0, 165, 165);
    width: 355px;
    height: 320px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.login form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login input{
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.89);
    border: none;
    height: 45px;
    outline: none;
    border-radius: 10px;
    color: antiquewhite;
    padding-left: 10px;
}

.login img{
    width: 70px;
    height: auto;
    text-align: center;
    justify-content: center;
}

input::placeholder{
    color: antiquewhite;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: #5568fe;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

p{
    color: #cbd0f7;
}

a{
    color: #5568fe;
    text-decoration: none;
    margin-left: 10px;
}