@charset "UTF-8";
/* Regra @charset caso haja problemas com acentuação */

body {
    background-color: black;
    color: blueviolet;
    font-size: 18px;
    font-family: Arial;
}

h1 {
    color: chartreuse;
    background-color: yellow;
    width: 180px;
}

a {
    color: brown;
    text-decoration: none;
}

p {
    text-align: justify;
}